h4 {
  padding-left: 1rem;
  border-left: 5px solid #4f6ef2;
}
.w-35 {
  width: 35% !important;
}
label {
  text-align: right;
}
.name-group {
  flex-grow: 1;
}
.input-name {
  width: 31%;
}
.input {
  width: 59%;
}
.input-btn {
  width: 10%;
}
.star-container {
  position: relative;
}
label {
  font-weight: bolder;
}
.check-info{
  top: 1rem;
  left: 1rem;
  z-index: 999 !important;
}
.info,addition-info{
  margin-top: 1.5rem;
  border-radius: 1rem;
}
.dow,.next{
  border-radius: 0 !important;
}
.data-error{
  border-color: red !important;
}
body{
  transition: all 0.3s ease-in-out;
}
textarea{
  resize: none;
}